.container {
  /* padding: 0 2rem; */
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title__emphasis {
  color: #0070f3;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--grayscale-white);

  margin: 0;
  width: 100%;
  line-height: 1.5;
  background: #000;

  padding: 4rem calc(15% + 1rem);

  @media (max-width: 959px) {
    padding: 2rem 1rem;
  }
}

.header__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  letter-spacing: -0.05em;
  padding-left: 11px;
}

.logo {
  width: 64px;
  height: 64px;
}

.description {
  // margin: 0 0;
  line-height: 1.5;
  width: 100%;
  padding: 0 calc(15% + 1rem);

  @media (max-width: 959px) {
    padding: 0 1rem;
  }
}

.org_selector {
  padding-bottom: 1rem;
}

.lang_buttons {
  margin-left: auto;
}

.lang_button {
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-bold);
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;
}
