.calendar {
  width: 100%;
  min-width: 600px;
}

.header,
.body {
  display: flex;
  flex-direction: row;

  align-items: stretch;
  justify-content: stretch;
}

.day_header_cell {
  flex: auto 1 1;
}

.day_header_cell__day_name,
.day_header_cell__day_number {
  display: block;
}

.day_header_cell__day_name {
  color: var(--grayscale-dark-text);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.day_header_cell__day_number {
  color: var(--grayscale-dark-text);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

.day_body_cell + .day_body_cell {
  border-left: 1px solid #bbb;
}

.week_calendar {
  height: 60vh;

  @media only screen and (max-width: 768px) {
    height: 100vh;
  }
}

.event {
  // font-size: var(--font-size-small);
  font-size: var(--font-size-tiny);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  line-height: 1.25;
  hyphens: auto;
  word-break: break-all;
  word-wrap: break-word;
}

.event__name {
  font-weight: var(--font-weight-semibold);
}

.event__time {
  display: block;
  font-size: var(--font-size-tiny);
}

$popover-radius: 5px;

.popover {
  z-index: 10;
  border: none;
  margin: 0;
  width: 15rem;
  padding: 0;
  background: transparent;
}

.popover__content {
  border-radius: $popover-radius;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2),
    0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.popover__title {
  // have to specify border radius for ALL of these because Chrome leaves out the
  // rounding when the dialog is placed at .05 px x/y coords (wtf?)
  border-top-right-radius: $popover-radius;
  border-top-left-radius: $popover-radius;
  padding: 0.5rem 1rem;
  background: #f0f0f0;
}

.popover__link {
  color: #0479a4;
}
